
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  }


 section {
   width: 100%;
   height: 100vh;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--title);
 }

 section .logo img{
   width: 70px;
   margin-top: 20px;
 }

 section h1{
   text-align: center;
    margin: 15px;
    font-weight: 700;
 }


 section > button {
   display: flex;
   align-items: center;
   border: 1px solid var(--subtitle);
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 400;
   text-transform: uppercase;
   padding: 10px 30px;
    margin: 10px 0;
   background: var(--bg-button);
 }

 section > button:hover{
   cursor: pointer;
   box-shadow: 2px 1px 4px 0px grey;
 }

 section > button > img {
  width: 70px;
  padding-right: 10px;
 }

 section > p {
   margin: 20px 10px;
 }


 /** mostrando filmes **/


 section .c-movie {
   display: none;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
 }

 section .c-movie figure{
   display: flex;
   flex-direction: column;
    width: 250px;
 }

 section .c-movie figure figcaption p{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px 0;
 }

 section .c-movie figure figcaption p span{
   background: var(--bg-button);
   font-weight: 700;
   color: black;
   padding: 8px;
   border-radius: 20px;
 }

section .c-movie figure img{
  height: 300px;
  background-size: cover;
  margin: 0 25px;
  border-radius: 8px;
}

section .movie-info{
  margin: 0 20px;
}

section .movie-info .title{
  margin: 20px 0;
  font-size: 2rem;
}


section .movie-info .average{
  background: var(--bg-button);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
}


 section .movie-info .descrition {
   font-weight: 700;
   width: 400px;
  margin: 20px 0;

 }

 @media (max-width: 405px){
  section .movie-info .descrition {
    width: 300px; 
  }
 }
